aom
apr
apr-util
argon2
aspell
autoconf
brotli
ca-certificates
cairo
cmake
curl
fftw
flash
fontconfig
freetds
freetype
fribidi
gcc
gd
gdbm
gettext
giflib
glib
gmp
gnuplot
gobject-introspection
graphite2
harfbuzz
hwloc
icu4c
imath
isl
jpeg
jpeg-turbo
jpeg-xl
krb5
libavif
libcerf
libevent
libffi
libidn2
libmpc
libnghttp2
libpng
libpq
libpthread-stubs
libsodium
libssh2
libtiff
libtool
libunistring
libvmaf
libx11
libxau
libxcb
libxdmcp
libxext
libxrender
libzip
lua
lzo
m4
matplotplusplus
mpdecimal
mpfr
oniguruma
open-mpi
openexr
openldap
openssl@1.1
pango
pcre
pcre2
php@8.0
pixman
pkg-config
python@3.9
qt@5
readline
rtmpdump
sqlite
tidy-html5
unixodbc
webp
xorgproto
xz
zstd
